.topic-details-terms-list {
    font-size: 8pt;
    padding-left: 10px;
}

#topic-details-terms-1 {
    padding-left: 10px;
}

#topic-details-documents {
    font-size: 10pt;
    max-height: 400px;
    overflow-y: scroll;
    /*padding-left: 10px;*/
    list-style-type: none;
}

.topic-details-term {
    display: inline-block;
    word-wrap: normal;
    padding: 0px 5px 5px 0px;
}

.topic-details-document {
    padding-bottom: 4px;
}

.topic-details>.panel-heading {
    padding: 5px 10px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
svg text.icon {
   font-family: FontAwesome;
   text-decoration: none;
}

svg a:hover {
   text-decoration: none;
}

/*.topic-details>.panel-body {
    padding: 5px;
}*/


.small-text {
    font-size: 10pt;
}

.ellipsis {
    white-space: nowrap;
    overflow-x: hidden;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table {
    table-layout:fixed;
}

.topicbar {
    opacity: 0.4;
}

.topicbar.highlight {
    opacity: 1.0;
}

.topicbar.selected {
    opacity: 1.0;
}


axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.domain {
    visibility: hidden;
}
.tick > line {
    visibility: hidden;
}

.stream-muted {
    opacity: 0.01;
}
.stream-highlighted {
    opacity: 1.0;
}




.resize path {
  fill: #777;
  fill-opacity: .5;
  stroke: #777;
  stroke-width: 1.5px;
}


.brush .extent {
  fill-opacity: .125;
  fill: white;
  stroke: #777;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

rect.mute {
    opacity: 0.8;
}


.page-title {
    font-family: Palatino Linotype;
    padding-left: 15px;
}

body {
    font-family: Palatino;
}


.equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}


<!-- #topic-stream-row {
    margin-bottom: 15px;
} -->

#topic-stream-container {
  /*background: url('{% static "explorer/images/network.png" %}') no-repeat center center;*/
  background-color: white;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    top: 50;
    left:0;


    border-width: 0 0 10px 0;
        -webkit-border-image:
            -webkit-gradient(linear, 100% 0, 0 0, from(white), to(#D4D8D1)) 100% 1;
        -webkit-border-image:
            -webkit-linear-gradient(top, white, #D4D8D1) 100% 1;
        -o-border-image:
                 -o-linear-gradient(top, white, #D4D8D1) 100% 1;
}


#topic-stream {
    height: 80px;
}

.panel-sparse {

}

.panel-sparse > .panel-heading {
    border-bottom: 1px solid #ccc;
}


.panel-sparse table tbody tr td {
    border-color: #ccc;
}

.progress {
    margin-bottom: 0;
}


.panel-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.panel-transparent .panel-body {
    color: #A76E07;
}

.panel-semitransparent {
    background-color: rgba(255, 255, 255, 0.1);
}


tr.highlight {
    background-color: rgba(255, 167, 0, 0.8);
}


.ac-results {
    position: absolute;
    z-index: 500;
    top: 35px;
    border: 1px solid gray;
    background-color: white;
    width: 100%;
    text-align: left;
}



/* Search */
a.active-facet-label:hover {
    text-decoration: line-through;
}
