<div class="modal fade" id="locationsModal" tabindex="-1" role="dialog" aria-labelledby="locationsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Geography of the <em>JHB</em></h4>
            </div>
            <div class="modal-body">
                <p>
                    This map depicts the geographic distribution of articles in the <em>Journal of the History of Biology</em>. Each
                    <svg height="10" width="10"><circle cx="5" cy="5" r="5" fill="gray" /></svg> represents a specific geographic
                    feature in the <a href="http://geonames.org" target="_blank">GeoNames</a> database. Clicking on one will reveal
                    all of the articles in the <em>JHB</em> believed to be associated with that location.
                </p>
                <p>
                    Generally speaking, <strong>geocoding</strong> is the process of placing objects on a map. Geocoding texts
                    usually involves some form of <strong>Named Entity Recognition</strong> (identifying passages that refer
                    to locations), and then the engagement of a <strong>geolocation</strong> service that matches those phrases
                    with known geographic features. But like many techniques that are computationally easy to perform, the results
                    of such an automated procedure can be  difficult or impossible to interpret. Using NER and geolocation on
                    academic texts usually generates numerous spurious results: personal names are often confused with place names,
                    and bylines and bibliographic citations pollute the results (e.g. "Kluwer Academic Publishers, Dordrecht, the
                    Netherlands.")
                </p>
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
