<div class="modal fade" id="organismCladogramModal" tabindex="-1" role="dialog" aria-labelledby="organismCladogramModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="organismCladogramModalLabel">Cladogram Browser</h4>
            </div>
            <div class="modal-body">
                <p>
                    The <strong>cladogram browser at the bottom of the page</strong> allows you to find other related taxa based on
                    the taxonomic relationships in the NCBI Taxonomy database. Note that this is not a phylogenetic
                    tree: the lengths of the branches are arbitrary, and nodes at each level are often not of the
                    same rank. In cases where several nested ranks contain only a single terminal node, intermediate
                    ranks may be excluded entirely. This visualization is intended merely as an aid for navigating
                    the <em>JHB</em>.
                </p>
                <p>
                     Click on the <i class="fa fa-link"></i> next to a node to go to the detail view for that taxon.
                     Click and drag to pan.
                </p>
                <hr />
                <h4 class="h4">Methodological Notes</h4>
                <p>
                    Named Entity Recognition performed with <a href="http://linnaeus.sourceforge.net/">LINNAEUS</a>. Taxonomic
                    information and linked data retrieved from the <a href="http://www.ncbi.nlm.nih.gov/guide/taxonomy/">NCBI
                    Taxonomy database</a>. Visualization developed in <a href="https://d3js.org/">D3.js</a>.
                </p>
                <p>
                    <a href="https://www.ncbi.nlm.nih.gov/home/about/policies.shtml">NCBI's Disclaimer and Copyright notice</a>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
