<div class="modal fade" id="organismModal" tabindex="-1" role="dialog" aria-labelledby="organismModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Named Entity Recognition: Organisms</h4>
            </div>
            <div class="modal-body">
                <p>
                    Named Entity Recognition is a machine learning technique for detecting references to classes of
                    concepts, or entities, in texts. NER models typically focus on detecting references to people,
                    organizations, and places, but can also find things like currency, quantities, and organisms.
                    NER isn't fool-proof: the quality of the results depend both on the suitability of the NER model
                    and on the quality of the texts.
                </p>
                <p>
                    The visualizations on this page depict references to organisms that were detected using an NER
                    model called LINNAEUS. LINNAEUS was trained on abstracts in the PubMed database, and is unusual
                    among NER models in that it also tries to disambiguate the entities that it finds. In other words,
                    it identifies not merely <strong>that</strong> a passage refers to an organism, but also <strong>
                    which specific organism</strong> is being discussed. LINNAEUS' vocabulary of organisms is the NCBI
                    Taxonomy database, which means that we can retrieve additional information about each organism
                    discussed in <em>JHB</em> using the NCBI Entrez APIs.
                </p>
                <p>
                    On this page, the organisms that LINNAEUS found are grouped into NCBI Taxonomy's major "divisions".
                    Note that these divisions are not mutually exclusive: <strong>Rodents</strong> are separated from
                    <strong>Mammals</strong>, which are in turn are separated from <strong>Vertebrates</strong>. The
                    stream-graph at the top of the page shows the relative number of documents in which LINNAEUS identified
                    references to an organism in each division. The donut chart shows the combined totals for the time
                    period selected in the stream-graph. The table on the right lists the top taxa for the selected
                    time period and division. Clicking on a taxon name will take you to a page with details about the
                    taxon, including the articles in which LINNAEUS detected it, and external resources discovered
                    via the NCBI Entrez APIs.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
