<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="searchModalLabel">Explore the <em>JHB</em>: Search</h4>
            </div>
            <div class="modal-body">
                <p>
                    Looking for articles about a particular theme, person, organism, or place? The search feature
                    provides a simple way to discover content in the <em>Journal of the History of Biology</em> across
                    all components of this online exhibit.
                </p>
                <p>
                    This search feature is <strong>not</strong> intended to provide full-text search of <em>JHB</em>
                    articles themselves. Instead, we hope that you'll use this feature to explore <em>JHB</em> in more
                    complex ways.
                </p>
                <p>
                    Look for the following content types in the search results.
                </p>


                <ul class="list-group">
                    <a href="" class="list-group-item list-group-item-primary">
                        <i class="glyphicon glyphicon-book"></i> Documents
                    </a>
                    <a href="" class="list-group-item list-group-item-warning">
                        <i class="glyphicon glyphicon-user"></i> Authors
                    </a>
                    <a href="" class="list-group-item list-group-item-info">
                        <i class="glyphicon glyphicon-asterisk"></i> Topics
                    </a>
                    <a href="" class="list-group-item list-group-item-success">
                        <i class="glyphicon glyphicon-leaf"></i> Taxa
                    </a>
                    <a href="" class="list-group-item list-group-item-danger">
                        <i class="glyphicon glyphicon-globe"></i> Places
                    </a>
                </ul>
                <hr />
                <h4 class="h4">Methodological Notes</h4>
                <p>
                    Search powered by <a href="https://www.elastic.co/" target="_blank">ElasticSearch</a> 2.x and
                    <a href="http://haystacksearch.org/" target="_blank">Haystack</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
