<script type="text/javascript">
   // In a perfect world, this would be its own library file that got included
   // on the page and only the ``$(document).ready(...)`` below would be present.
   // But this is an example.
   var Autocomplete = function(options) {
       this.form_selector = options.form_selector;
       this.url = options.url || '{% url "autocomplete" %}';
       this.delay = parseInt(options.delay || 300);
       this.minimum_length = parseInt(options.minimum_length || 3);
       this.form_elem = null;
       this.query_box = null;
   }

   Autocomplete.prototype.setup = function() {
       var self = this;
       this.waiting = false;
       this.form_elem = $(this.form_selector);
       this.query_box = this.form_elem.find('input[name=q]');
       this.model_input = this.form_elem.find('input[name=model]');
       this.results_container = this.form_elem.find('#autocomplete-results-container');

       // Watch the input box.
       this.query_box.on('keyup', function() {
           
           setTimeout(function() {
               var query = self.query_box.val();
               var model = self.model_input.val();

               if(query.length < self.minimum_length) {
                   $('.ac-results').remove();
                   return false;
               }

               self.fetch(query, model);
           }, 1000)

       })

       // On selecting a result, populate the search field and submit.
       this.form_elem.on('click', '.ac-result', function(ev) {
           self.query_box.val($(this).text())
           $('.ac-results').remove();
           $('#id_pk').val($(this).attr('pk'));
           $('#querysubmit').click();

           return false
       })


   }

   Autocomplete.prototype.fetch = function(query, model) {
       var self = this;
       var payload = {
           'q': query,
       }
       if (model) payload['model'] = model;
       if (self.waiting) return;
       self.waiting = true;
       $.ajax({
           url: this.url
           , data: payload
           , success: function(data) {
               self.waiting = false;
               self.show_results(data);

           }, failure: function(data) {
               self.waiting = false;
           }
       })
   }

   Autocomplete.prototype.show_results = function(data) {
       // Remove any existing results.
       $('.ac-results').remove();
       $('.ac-results').css('visibility', 'visible');

       var results = data.results || []
       var results_wrapper = $('<div class="ac-results list-group"></div>')
       var base_elem = $('<div class="result-wrapper list-group-item"><a href="#" class="ac-result"></a></div>')

       if(results.length > 0) {
           for(var res_offset in results) {
               var elem = base_elem.clone()
               // Don't use .html(...) here, as you open yourself to XSS.
               // Really, you should use some form of templating.
               elem.find('.ac-result').text(results[res_offset].label).attr('pk', results[res_offset].id);
               results_wrapper.append(elem)
           }
       }
       else {
           var elem = base_elem.clone()
           elem.text("No results found.")
           results_wrapper.append(elem)
       }

       this.results_container.append(results_wrapper)
   }

   $(document).ready(function() {
       window.autocomplete = new Autocomplete({
           form_selector: '.autocomplete'
       })
       window.autocomplete.setup()
       console.log('bob');
   })
 </script>
