{% extends 'explorer/base.html' %}

{% block content %}
<h1>{{ document.title }}</h1>
<ul>
    {% for author in document.authors.all %}
    <li>
        <a href="{% url "author_detail" author.id  %}">{{ author.forename.title }} {{ author.surname.title }}</a>
    </li>
    {%endfor%}

</ul>
<div class="panel col-sm-12">

    <div id="topic-barchart"></div>
    <h4 class="text-muted">Topic representation on each page</h4>
</div>

<script>

    var redraw = function () {
        var margin = {top: 0, right: 0, bottom: 0, left: 0},
            width = parseInt(d3.select('#topic-barchart').style('width'), 10) - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);

        var y = d3.scale.linear()
            .rangeRound([height, 0]);

        var color = d3.scale.ordinal()
            .range(["#a6cee3", "#1f78b4", "#b2df8a", "#33a02c", "#fb9a99", "#e31a1c", "#fdbf6f", "#ff7f00", "#cab2d6", "#6a3d9a", "#ffff99", "#b15928"]);
            // .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .tickFormat(d3.format(".2s"));

        var svg = d3.select("#topic-barchart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.json('?data=chart', function(error, data) {
          if (error) throw error;

          color.domain(data.allTopics);

          var p = 0;
          data.weights.forEach(function(d) {
                var y0 = 0;
                d.topics = color.domain().map(function(name) {
                    return {
                        name: name,
                        y0: y0,
                        y1: y0 += +d[name],
                    };
                });


                d.total = d.topics[d.topics.length - 1].y1;
                d.page = data.pages[p];
                p += 1
          });

          x.domain(data.pages);
          y.domain([0, d3.max(data.weights, function(d) { return d.total; })]);


          var page = svg.selectAll(".page")
              .data(data.weights)
            .enter().append("g")
              .attr("class", "g")
              .attr("transform", function(d) { return "translate(" + x(d.page) + ",0)"; });

          page.selectAll("rect")
              .data(function(d) {
                  return d.topics;
               })
            .enter().append("rect")
              .attr("width", x.rangeBand())
              .attr("y", function(d) {
                  return y(d.y1); })
              .attr("height", function(d) { return y(d.y0) - y(d.y1); })
              .attr("topic", function(d) { return d.name;  })
              .classed("topicbar", true)
              .style("fill", function(d) { return color(d.name); })
              .on('mouseover', function(d) {
                  d3.selectAll("[topic='" + d.name + "']")
                    .classed('highlight', true);
              })
              .on('mouseout', function(d) {
                  d3.selectAll("[topic='" + d.name + "']")
                    .classed('highlight', false);
              });


        });
    };

    redraw();
    var resize = function() {
        $('#topic-barchart').empty();
        redraw();
    };
    d3.select(window).on('resize', resize);


</script>
{% endblock %}
