{% extends 'explorer/base.html' %}

{% load staticfiles %}
{% load jhb_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "explorer/css/views/document.css" %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="panel panel-transparent">
        <div class="h1 text-warning">{{ document.title }}
            {% comment %}
            The doi indicates whether or not the article was provided by JSTOR
            or by Springer.
            {% endcomment %}
            {% if document.doi %}
            <!-- Link to original article (by DOI) -->
            <div class="pull-right btn-group">
                <a href="{{ document.doi|permalink }}"
                    class="btn"
                    target="_blank"
                    aria-label="JSTOR"
                    data-toggle="tooltip"
                    data-placement="left"
                    data-container="body"
                    title="View original article in JSTOR">
                    <img src="{{ document.doi|permalink_image }}"
                        class="img img-responsive resource-logo">
                </a>
            </div>
            {% endif %}
        </div>
        <div class="h4">{{ document.publication_date }} | Volume: {{document.volume}}, Issue: {{document.issue}}</div>
        {% for author in document.authors.all %}
        <a href="{% url "author_detail" author.id  %}">{{ author.forename.title }} {{ author.surname.title }}</a>
        {%endfor%}
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="text-muted pull-right">Topic representation on each page</h4>
                </div>
                <div class="panel-body">
                    <div id="topic-barchart"></div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="panel panel-transparent" id="topic-details">
                <div class="panel-heading clearfix" id="topic-details-heading">
                    <span class="h5">
                        <span class="img img-rounded topic-details-swatch" id="topic-details-swatch"></span>
                        <a id="topic-details-link"><span id="topic-details-title">Topic details</span></a>
                    </span>
                </div>
                <div class="panel-body">
                    <ul id="topic-details-terms">
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <!-- Articles that cite this article. -->
        {% if document.cited_by.count > 0 %}
        <div class="col-sm-3">
            <div class="panel panel-sparse">
                <div class="panel-heading">
                    <span class="h4">Cited by</span>
                </div>
                <!-- <div class="panel-body"> -->
                    <ul class="list-group h6">
                        {% for citation in document.cited_by.all %}
                        <a href="{% url "document_detail" citation.id %}"
                            class="list-group-item">
                            {{ citation.title }} ({{ citation.publication_date }})
                        </a>
                        {% endfor %}
                    </ul>
                <!-- </div> -->
            </div>
        </div>
        {% endif %}

        <!-- Articles cited by this article. -->
        {% if document.cites.count > 0 %}
        <div class="col-sm-3">
            <div class="panel panel-sparse">
                <div class="panel-heading">
                    <span class="h4">Cites</span>
                </div>
                <!-- <div class="panel-body"> -->
                    <ul class="list-group h6">
                        {% for citation in document.cites.all %}
                        <a href="{% url "document_detail" citation.id %}"
                            class="list-group-item">
                            {{ citation.title }} ({{ citation.publication_date }})
                        </a>
                        {% endfor %}
                    </ul>
                <!-- </div> -->
            </div>
        </div>
        {% endif %}

        {% comment %} Taxonomic references in this document. {% endcomment %}
        {% if document.taxon_occurrences.count > 0 %}
        <div class="col-sm-3">
            <div class="panel panel-sparse" id="taxon-references">
                <div class="panel-heading clearfix">
                    <span class="h4">Organisms</span>
                    <button type="button"
                        class="btn btn-default btn-sm pull-right"
                        aria-label="Info"
                        data-toggle="modal"
                        data-target="#documentOrganismModal">
                        <span class="glyphicon glyphicon-info-sign"
                            aria-hidden="true"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="What am I looking at?">
                        </span>
                    </button>
                </div>
                <ul class="list-group h6" id="taxon-references-list">
                    {% for occurrence in document.taxon_occurrences.all %}
                    <a href="{% url "organism_detail" occurrence.taxon.id %}"
                        class="list-group-item">
                        <em>{{ occurrence.taxon.scientific_name }}</em>
                        {% if occurrence.taxon.division %}
                        &nbsp;<span class="label label-primary">{{ occurrence.taxon.division }}</span>
                        {% endif %}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% comment %} Related documents (via the topic model). {% endcomment %}
        <div class="col-sm-3">
            <div class="panel panel-sparse">
                <div class="panel-heading clearfix">
                    <span class="h4">Related</span>
                    <button type="button"
                        class="btn btn-default btn-sm pull-right"
                        aria-label="Info"
                        data-toggle="modal"
                        data-target="#relatedDocumentsModal">
                        <span class="glyphicon glyphicon-info-sign"
                            aria-hidden="true"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="What am I looking at?">
                        </span>
                    </button>
                </div>
                <ul class="list-group h6" id="related-documents-list">
                    {% for document_id, document_title, document_date, weight, topics in related_documents %}
                    <a href="{% url "document_detail" document_id %}"
                        class="list-group-item">{{document_title}} ({{document_date}})<br />
                        {% for topic_label, topic_id in topics %}
                        <span class="img img-rounded topic-details-swatch swatch-static"
                            id="topic-{{topic_id}}-swatch}"
                            title='{{ topic_label }}'
                            data-toggle='tooltip'
                            data-container='body'>
                        </span>
                        {% endfor %}
                    </a>
                    {% endfor %}
                </ul>
            </div>
            <script>
            $('[data-toggle=tooltip]').tooltip();
            </script>
        </div>
    </div>
</div>


{% include "explorer/modals/relatedDocumentsModal.html" %}
{% include "explorer/modals/documentOrganismModal.html" %}

<script>
var initialTopic,
    topics_url = '{% url "topics" %}';

{% if initialTopic %}
initialTopic = {{ initialTopic }};
{% endif %}
</script>
<script type="text/javascript" src="{% static "explorer/js/views/document.js" %}"></script>
{% endblock %}
