{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a href="http://github.com/erickpeirson/jhb-explorer/"
               class="navbar-brand fa fa-github fa-2x"
               data-toggle="tooltip" data-placement="top" title="Source on GitHub"></a>
            <a href="#"
               class="navbar-brand fa fa-book fa-2x"
               data-toggle="tooltip" data-placement="top" title="Read the article"></a>
            <span data-toggle="modal" data-target="#citeModal" style="cursor: pointer;">
                <a class="navbar-brand fa fa-link fa-2x"
                   data-toggle="tooltip" data-placement="top" title="How to cite"></a>
            </span>
        </div>
        <div class="navbar-right">
            <a href="http://www.aplacecalledup.com"
            class="navbar-brand"
            data-toggle="tooltip" data-placement="top" title="Up Consulting">
                <img src="{% static "explorer/images/up_logo_tiny.png" %}" class="img img-responsive img-rounded" style="height: 26px;" />
            </a>

        </div>
    </div>
</nav>

<div id="citeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">How to cite</h4>
            </div>
            <div class="modal-body">
                <h4>Cite the online exhibit</h4>
                <p>
                    Peirson, B. R. Erick. 2016. <em>The JHB at 50: a computational reflection on fifty years of the
                    </em>Journal of the History of Biology<em>.</em> <a href="">http://thefinalurlgoeshere.com</a>
                </p>
                <h4>Cite the paper</h4>
                <p>
                    Peirson, B. R. Erick, et al. 2016. Toward an architecture of knowledge for the history of biology.
                    <em>Journal of the History of Biology</em> V (I): pp-pp. doi:12345/12345
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
