{% extends 'explorer/base.html' %}

{% load staticfiles %}

{% block content %}
<style>
.bg {
  background: url('{% static "explorer/images/network.png" %}') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 350px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
    opacity: 0.6;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.jumbotron {
    height: 300px;
    color: #332C2F;
    text-shadow: #444 0 1px 1px;
    background:transparent;
}
</style>
<script>
$('body').on('ready', function() {
    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax(){
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight-scrolled) + 'px');
    }

    $(window).scroll(function(e){
        parallax();
    });
});
</script>

<div class="bg"></div>
<div class="jumbotron">
    <h1 style="font-family: Palatino Linotype;">The <em>JHB</em> at <span style="font-size: 1.75em;">50</span></h1>
    <p>A computational reflection on fifty years of the <em>Journal of the History of Biology</em>.</p>
</div>

<div class="container-fluid" style="margin-top: -30px; margin-bottom: 15px; background-color: rgba(212, 216, 209, 0.5);">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form class="form-inline">
            <fieldset class="form-group col-sm-12">
                <div class="row">
                    <label for="search" class="h4 col-sm-12">
                        <span class="col-sm-2">Explore Now</span>
                        <span class="input-group col-sm-10">
                            <input type="text" class="form-control" id="search-input"
                                   placeholder="What are you looking for?">
                            <span type="submit" class="btn input-group-addon">
                               <i class="fa fa-search"></i>
                           </span>
                       </span>
                   </label>
               </div>
            </fieldset>
        </form>

    </div>
</div>


<div class="row equal">
    <div class="col-sm-7">
        <div class="panel" style=" background-color: rgba(212, 216, 209, 0.5);">
            <div class="panel-body">
        <p class="text text-info">
            First printed in 1968, the <em>JHB</em> provides a through-thread for scholarly research and
            criticism in the history of biology. Our traditional craft is the written word, and our works
            are narrative text.
        </p>
        <p class="lead text-warning">At the journal's quinquagenary, we have an opportunity to view the accumulated
            productions of our field through new eyes.
        </p>
        <p class="text text-info">
            This online exhibit provides a new view on the <em>JHB</em> using tools from machine learning,
            computational linguistics, and the epistemic web. Use the menu items at the top of the page to
            explore the content and evolution of the <em>JHB</em> over the last fifty years.
        </p>
    </div>
    </div>

    </div>
    <div class="col-sm-5">
        <div class="panel">
            <div class="panel-body">
                <blockquote class="blockquote" style="font-size: 1.1em;">
                    <p>Interest within the scientific community in the historic development of the special fields of science
                    probably has been sharpened by the extremely rapid rate of current scientific growth and by the striking
                    nature of the conceptual and technical changes which one witnesses almost daily. A sense of time and
                    history is often now sought by the working scientist and by students in the sciences.</p>
                    <footer class="blockquote-footer">Everett Mendelsohn, <em>JHB</em> Volume 1, Issue 1, Page iii</footer>
                </blockquote>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid"  style="margin-bottom: 40px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading text-center">
                    <span class="h3">The Topic Model</span>
                </div>
                <div class="panel-body">
                    The JHB Topic Model captures broad thematic relationships among articles in the JHB.
                    The method used to generate the model, known as Latent Dirichlet Allocation,
                    was designed to improve discovery of relevant or related texts in large collections.
                    Use the <strong><a href="{% url "topics" %}">topic browser</a></strong> to explore
                    relationships among themes and texts in the <em>Journal of the History of Biology</em>.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading text-center">
                    <span class="h3">Organisms</span>
                </div>
                <div class="panel-body">
                    The living organism is the premise and backbone of the biological sciences, and are
                    thus an important dimension of the thematic content of the <em>JHB</em>. Using a
                    technique called Named Entity Recognition, we have identified the taxa discussed
                    by historians of science over the past fifty years. Use the
                    <strong><a href="{% url "organisms" %}">taxon browser</a></strong> to explore the
                    role of organisms in scholarship about the history of biology.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading text-center">
                    <span class="h3">People & Places</span>
                </div>
                <div class="panel-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
