{% extends "explorer/base.html" %}

{% load staticfiles %}

{% block extrahead %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<div class="h3" style="margin-top: 0px;">Geography of the <em>JHB</em>
    <button type="button" class="btn btn-default btn-sm" aria-label="Info" data-toggle="modal" data-target="#locationsModal">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
    </button>
</div>

<div class="row">
    <div class="col-sm-8">
        <p>
            This map depicts the geographic distribution of articles in the <em>Journal of the History of Biology</em>. Each
            <svg height="10" width="10"><circle cx="5" cy="5" r="5" fill="gray" /></svg> represents a specific geographic
            feature in the <a href="http://geonames.org" target="_blank">GeoNames</a> database. Clicking on one will reveal
            all of the articles in the <em>JHB</em> believed to be associated with that location.
        </p>
        <div class="panel">
            <div  id="map" style="height: 400px;"></div>
        </div>
        <div class="text text-muted">
            Click on a <svg height="10" width="10"><circle cx="5" cy="5" r="5" fill="gray" /></svg> to view
            a list of articles associated with that location. Use your mousewheel or trackpad to zoom in or
            out. Click anywhere and drag to pan.
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel" id="document-list-panel" style="visibility: hidden;">
            <div class="panel-heading" id="document-list-heading">
                <span class="h4">Articles set in <strong id="document-list-heading-label"></strong></span>
            </div>
            <table class="table small-text table-condensed">
                <thead>
                    <tr>
                        <td class="col-sm-2">Date</td>
                        <td>Title</td>
                    </tr>
                </thead>
                <tbody id="document-list">
                </tbody>
            </table>
            <!-- <ul class="list-group h6"  style="max-height: 360px; overflow-y: scroll;">
            </ul> -->
        </div>
    </div>
</div>


{% include "explorer/modals/locationsModal.html" %}

<script>
var start = {{ start }},
    end = {{ end }},
    topic = "{{ topic }}",
    dataLocationURL = "{{ data }}";
</script>
<script src="{% static 'explorer/js/views/locations.js' %}"></script>

{% endblock %}
