{% extends "explorer/base.html" %}

{% load staticfiles %}

{% block extrahead %}
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />


<script src='{% static "explorer/js/arc.js" %}'></script>
<script src='{% static "explorer/js/Leaflet.Arc.min.js" %}'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />


{% endblock %}

{% block content %}

<div class="panel panel-transparent">
    <div class="h1 text-warning" style="margin-top: 0px;">Geography of the <em>JHB</em>
        <button type="button" class="btn btn-default btn-sm" aria-label="Info" data-toggle="modal" data-target="#locationsModal">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
        </button>
    </div>
    <p>
        This map depicts the geographic distribution of articles in the <em>Journal of the History of Biology</em>. Each
        <svg height="10" width="10"><circle cx="5" cy="5" r="5" fill="gray" /></svg> represents a specific geographic
        feature in the <a href="http://geonames.org" target="_blank">GeoNames</a> database. Clicking on one will reveal
        all of the articles in the <em>JHB</em> believed to be associated with that location.
    </p>
</div>

<div class="row">
    <div class="col-sm-8">

        <div class="panel">
            <div  id="map" style="height: 400px;"></div>
        </div>
        <div class="text text-muted">
            Click on a <svg height="10" width="10"><circle cx="5" cy="5" r="5" fill="gray" /></svg> to view
            a list of articles associated with that location. Use your mousewheel or trackpad to zoom in or
            out. Click anywhere and drag to pan.
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-transparent" id="document-list-panel" style="visibility: hidden;">
            <div class="panel-heading" id="document-list-heading">
                <span class="h4">Articles set in
                    <a id="document-list-heading-link"
                        href=""
                        data-toggle="tooltip"
                        data-placement="top"
                        data-container="body"
                        title="View in GeoNames">
                        <strong id="document-list-heading-label"></strong>
                    </a>
                </span>
            </div>
            <table class="table small-text table-condensed">
                <thead>
                    <tr>
                        <td class="col-sm-2">Date</td>
                        <td>Title</td>
                    </tr>
                </thead>
                <tbody id="document-list">
                </tbody>
            </table>
            <!-- <ul class="list-group h6"  style="max-height: 360px; overflow-y: scroll;">
            </ul> -->
        </div>
    </div>
</div>


{% include "explorer/modals/locationsModal.html" %}

<script>
var topic = "{{ topic }}",
    dataLocationURL = "{{ data }}";

L.mapbox.accessToken = '{{ MAPBOX_TOKEN }}';

</script>
<script src="{% static 'explorer/js/views/locations.js' %}"></script>

{% endblock %}
