{% extends 'explorer/base.html' %}

{% load staticfiles %}

{% block extrahead %}
<script type="text/javascript" src="{% static "explorer/js/views/organisms.js" %}"></script>
<link rel="stylesheet" href="{% static "explorer/css/views/organisms.css" %}">
{% endblock %}

{% block content %}
<div id="topic-stream-container">
    <div id="topic-stream">
    </div>
</div>

<div class="container-fluid" style="margin-top: 90px; margin-bottom: 60px;"  id="pie-container">
    <div class="panel panel-transparent">
        <span class="h1 text-warning">Organisms in the <em>JHB</em></span>
        <button class="btn btn-default btn-sm pull-right" aria-label="Info" data-toggle="modal" data-target="#organismModal">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
        </button>
        <p>
            The living organism is the premise and backbone of the biological sciences, and is thus an important
            dimension of the thematic content of <em>JHB</em>. Using a technique called Named Entity Recognition,
            and drawing on the NCBI Taxonomy database, we have identified the taxa discussed by historians of
            science over the past fifty years. Use the taxon browser below to explore the role of organisms in
            scholarship about the history of biology.
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div id="pie"></div>
        </div>

        <div class="col-sm-offset-1 col-sm-5">
            <div class="panel panel-sparse">
                <div class="panel-heading">
                    <span class="h4" id="organism-list-heading"></span>
                </div>
                <ul class="list-group" id="organism-list"></ul>
                <div class="panel-footer">
                    <p class="text text-muted">Click on an organism name for more details.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "explorer/modals/organismModal.html" %}

{% endblock %}
