{% extends 'explorer/base.html' %}

{% load staticfiles %}

{% block extrahead %}
<script src="{% static 'explorer/js/spin.min.js' %}"></script>
<script src="{% static 'explorer/js/jquery.spin.js' %}"></script>

<link rel="stylesheet" href="{% static "explorer/css/views/organism.css" %}">
{% endblock %}

{% load staticfiles %}
{% load jhb_tags %}

{% block content %}

<div id="topic-stream-container">
    <div id="topic-stream">
    </div>
</div>

<div class="container-fluid" id="pie-container">
    <div class="panel panel-transparent">
        <div class="panel-body">
            <!-- Taxon header & NCBI link. -->
            <div class="h1">{{ taxon|format_taxon_name|safe }}{% if taxon.rank %} <span class="label label-default">{{ taxon.rank }}</span>{% endif %}
                <!-- NCBI Taxonomy link -->
                <div class="pull-right btn-group">
                    <a href="{{ taxon.id|taxonomy_permalink }}"
                        class="btn"
                        target="_blank"
                        aria-label="NCBI Taxonomy"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-container="body"
                        title="View in NCBI Taxonomy browser">
                        <img src="{% static "explorer/images/128px-US-NLM-NCBI-Logo.svg.png" %}"
                            class="img img-responsive resource-logo">
                    </a>
                </div>
            </div>
            <!-- Alternate names for this taxon -->
            {% if taxon.names.count > 0 %}
            <p>
                {% for name in taxon.names.all %}
                <a class="text-warning h6 taxon-alternate-name"
                    data-toggle="tooltip"
                    title="{{ name.name_type }}">
                    {{ name.display_name }}
                </a>
                {% endfor %}
            </p>
            {% endif %}
            <!-- </div> -->


        </div>


    <script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-8">
            <div class="panel panel-transparent panel-sparse">
                <div class="panel-heading">
                    <span class="h4 display-4 clearfix">
                        References to <strong>{{ taxon|format_taxon_name|safe }}</strong><span class="assignmentQualifier"></span>
                        <button type="button" class="btn btn-default btn-sm pull-right" aria-label="Info" data-toggle="modal" data-target="#organismDetailModal">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="What am I looking at?"></span>
                        </button>
                    </span>
                </div>
                <div class="scrolling-panel-body">
                    <table class="table small-text table-condensed">
                        <tbody id="assignments" class="h6">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <div class="col-sm-6 col-lg-4">
            <!-- Related Topics -->
            <div class="panel panel-transparent panel-sparse">
                <div class="panel-heading">
                    <span class="h4 display-4 clearfix">
                        Related topics <span class="assignmentQualifier"></span>
                        <button type="button" class="btn btn-default btn-sm pull-right" aria-label="Info" data-toggle="modal" data-target="#organismTopicsModal">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
                        </button>
                    </span>
                </div>
                <div class="scrolling-panel-body">
                    <table class="table">

                        <tbody>
                            {% for topic_id, topic_label, weight in topics %}
                            <tr class="h6">
                                <td>
                                    <a href="{% url "topic_detail" topic_id %}">{{ topic_label }}</a>
                                </td>
                                <td class="col-sm-2">
                                    <div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="{{ weight }}" aria-valuemin="0" aria-valuemax="100" style="width: {{weight}}%;"><span class="sr-only">{{weight}}%</span></div></div>
                                </td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    <!-- </ul> -->
                    </table>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="{% if resourcegroups|length > 0 %}col-sm-8{% else %}col-sm-12{% endif %}">
            <!-- Cladogram browser -->
            <div class="panel panel-sparse">
                <div class="panel-heading">
                    <span class="h4 clearfix">Cladogram Browser
                        <button type="button" class="btn btn-default btn-sm pull-right" aria-label="Info" data-toggle="modal" data-target="#organismCladogramModal">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
                        </button>
                    </span>
                </div>
                <div id="tree">
                    <!-- D3 visualization is inserted here. -->
                </div>
                <div class="panel-footer">
                    <p class="text text-info">
                        Click on the <i class="fa fa-link"></i> next to a node to go to the detail view for that taxon.
                        Use your mousewheel or trackpad to zoom in. Click and drag to pan.
                    </p>
                    <svg height="40" width="100%">
                        <g class="node" transform="translate(15, 15)" style="cursor: default;">
                            <circle r="10" fill="#221100"></circle>
                            <text dx="15" dy="5">Focal</text>
                        </g>
                        <g class="node" transform="translate(90, 15)" style="cursor: default;">
                            <circle r="10" fill="#B74934"></circle>
                            <text dx="15" dy="5">Collapsed</text>
                        </g>
                        <g class="node" transform="translate(195, 15)" style="cursor: default;">
                            <circle r="10" fill="#577492"></circle>
                            <text dx="15" dy="5">Terminal</text>
                        </g>
                    </svg>
                </div>
            </div>
            <!-- End cladogram browser -->
        </div>
        <div class="col-sm-4">
            <!-- Linked data. -->
            {% if resourcegroups|length > 0 %}
            <div class="panel panel-sparse">
                <div class="panel-heading">
                    <span class="h4">Linked Data
                        <button type="button" class="btn btn-default btn-sm pull-right" aria-label="Info" data-toggle="modal" data-target="#organismLinkedDataModal">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
                        </button>
                    </span>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    {% for i, name, resources in resourcegroups %}
                    <li{% if i == 0 %} class="active"{% endif %}>
                        <a data-toggle="pill" href="#linkeddata-{{i}}">{{name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content panel-body" id="linkeddata-content-panel">
                    {% for i, name, resources in resourcegroups %}
                    <div id="linkeddata-{{i}}" class="tab-pane fade{% if i == 0 %} in active{% endif %}">
                        {% for subject_type, subresources in resources %}
                        {% if subject_type %}<div class="h5">{{ subject_type }}</div>{% endif %}
                        <ul class="list-group h6">
                            {% for resource in subresources %}
                            <a class="list-group-item" href="{{resource.url}}" target="_blank">
                                {% if resource.link_name %}{{ resource.link_name }}{% else %}{{ resource.provider.name }}{% endif %}
                                <span class="label label-warning" data-toggle="tooltip" title="{{ resource.provider.name }}">{{ resource.provider.abbreviation }}</span>
                            </a>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <!-- End linked data. -->
        </div>
    </div>
    <div class="panel panel-transparent">
        <a href="https://www.ncbi.nlm.nih.gov/home/about/policies.shtml" target="_blank">NCBI's Disclaimer and Copyright notice</a>
    </div>
</div>


{% include "explorer/modals/organismDetailModal.html" %}
{% include "explorer/modals/organismCladogramModal.html" %}
{% include "explorer/modals/organismLinkedDataModal.html" %}
{% include "explorer/modals/organismTopicsModal.html" %}

<script>
var organism_detail_url = "{% url 'organism_detail' taxon.id %}";
</script>
<script type="text/javascript" src="{% static "explorer/js/views/organism.js" %}"></script>

{% endblock %}
