{% extends "explorer/base_stream.html" %}

{% load staticfiles %}
{% load math_filters %}

<!-- <div class="container-fluid" style="background-color: white;"> -->

<!-- </div> -->

{% block extrahead %}
<script>
var topic_id = {{ topic.id }};
</script>
<script type="text/javascript" src="{% static "explorer/js/views/topic.js" %}"></script>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-transparent">

            <div class="panel-body">
                <span class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" aria-label="Info" data-toggle="modal" data-target="#topicStreamModal">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
                    </button>
                </span>
                <ul style="padding-left: 0px; text-align:center;">
                    {% for assignment in assigned_to %}
                    <li class="topic-details-term" style="font-size: {{ assignment.weight|weight_to_fontsize }}vw;">{{ assignment.term }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Related topics -->
        {% if topic_colocates|length > 0 %}

            <div class="panel panel-transparent panel-sparse">
                <div class="panel-heading">
                    <span class="h4">Related Topics
                        <span class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" aria-label="Info" data-toggle="modal" data-target="#infoModal">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
                            </button>
                        </span>
                    </span>
                </div>
                <div style="max-height: 250px; overflow-y: scroll;">
                    <table class="table table-condensed">
                        <tbody>
                            {% for topic, colocation in topic_colocates %}
                            <tr class="h6">
                                <td><a href="{% url 'topic_detail' topic.id %}">{{ topic.for_display }}</a></td>
                                <td class="col-sm-3">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ colocation.weight|multiply:400 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ colocation.weight|multiply:400 }}%;">
                                            <span class="sr-only">{{ colocation.weight }} nPMI</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        {% endif %}



    </div>
    <div class="col-sm-8">
        <div class="panel panel-transparent panel-sparse">
            <div class="panel-heading">
                <span class="h4 display-4">Articles about <strong><em>{{ topic.for_display }}</em></strong><span id="assignmentQualifier"></span></span>
            </div>
            <div  style="max-height: 400px; overflow-y: scroll;">
                <table class="table table-condensed small-text">
                    <thead>
                        <tr>
                            <td class="col-xs-2">Date</td>
                            <td class="col-xs-8">Title</td>
                            <td class="col-xs-2">Topic</td>
                        </tr>
                    </thead>
                    <tbody id="assignments" class="h6">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">

            <!-- Authors -->
            <div class="col-sm-12">
                <div class="panel panel-transparent panel-sparse">
                    <div class="panel-heading">
                        <span class="h4">Authors who have written about this topic</span>
                    </div>
                    <div>
                        <table class="table table-condensed small-text">
                            <tbody id="assignments">
                                {% for author_id, weight, author_name in authors %}
                                <tr class="h6">
                                    <td class="col-xs-8">
                                        <a href="{% url "author_detail" author_id %}">{{ author_name }}</a>
                                    </td>
                                    <td>
                                        <div class="progress" style="">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ weight }}" aria-valuemin="0" aria-valuemax="1" style="width: {{ weight }}%;">
                                                <span class="sr-only">{{ weight }}%</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Topic Co-Location</h4>
            </div>
            <div class="modal-body">
                <p>
                    The topics in this list tend to co-occur with the current topic more frequently than we would
                    expect by chance alone. The value shown next to each topic is the <strong>normalized pointwise
                    mutual information (nPMI)</strong> between that topic and the current topic. The higher the nPMI,
                    the more likely it is that the listed topic and the current topic are related in some way. Only
                    topics with an nPMI in the upper 98th percentile are shown.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="topicStreamModal" tabindex="-1" role="dialog" aria-labelledby="topicStreamModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Topic Representation Over Time</h4>
            </div>
            <div class="modal-body">
                <p>
                    This stream plot shows the relative representation of this topic in the JHB corpus over time.
                    To calculate the relative representation of the topic in a given year we sum up the proportion of
                    each document that is about the topic, and then normalize that value by the number of documents
                    published in that year.
                </p>
                <p>
                    Caution should be exercised when interpreting changes in the prominence of a single topic over time.
                    Since the representation across all topics should sum up to 100% in each year, an increase or decrease
                    in the prominence of any one topic may be due to changes in the literature that are completely
                    unrelated to the topic itself. This graph should be used only as a starting-point that can
                    prompt questions or hyptheses about potential trends that can be investigated further.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
