{% extends "explorer/base.html" %}

{% load staticfiles %}
{% load math_filters %}

{% block content %}
<!-- <div class="container-fluid" style="background-color: white;"> -->

<!-- </div> -->


<div id="topic-stream-container">
    <div id="topic-stream">
    </div>
    <div class="container-fluid">
        <span class="h1 display-1 page-title">{{ topic }}</span>
        <span class="h4 text-muted pull-right">Topic representation over time
            <button type="button" class="btn btn-primary btn-xs" aria-label="Info" data-toggle="modal" data-target="#topicStreamModal">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
            </button>

        </span>
    </div>
</div>
<div class="container-fluid" style="margin-top: 140px;">
    <!-- <div class="container-fluid"> -->


    <!-- </div> -->

    <div class="row">
        <div class="col-sm-4">

                <div class="panel">
                    <div class="panel-body">
                        <ul style="padding-left: 0px;">
                            {% for assignment in assigned_to %}
                            <li class="topic-details-term" style="font-size: {{ assignment.weight|weight_to_fontsize }};">{{ assignment.term.term }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if topic_colocates|length > 0 %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="h4">Related Topics
                            <span class="pull-right">
                                <button type="button" class="btn btn-default btn-sm" aria-label="Info" data-toggle="modal" data-target="#infoModal">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="What am I looking at?"></span>
                                </button>
                            </span>
                        </span>
                    </div>
                    <table class="table table-condensed">
                        <tbody>
                            {% for topic, colocation in topic_colocates %}
                            <tr>
                                <td><a href="{% url 'topic_detail' topic.id %}">{{ topic }}</a></td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ colocation.weight|multiply:400 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ colocation.weight|multiply:400 }}%;">
                                            {{ colocation.weight|round_weight }}
                                            <span class="sr-only">{{ colocation.weight }} nPMI</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}


        </div>
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="h4 display-4">Articles about {{topic}}<span id="assignmentQualifier"></span></span>
                </div>
                <div  style="height: 500px; overflow-y: auto;">
                <table class="table small-text table-condensed">
                    <thead>
                        <tr>
                            <td class="col-sm-2">Published</td>
                            <td>Title</td>
                            <td class="col-sm-2">Proportion</td>
                        </tr>
                    </thead>
                    <tbody id="assignments">
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Topic Co-Location</h4>
            </div>
            <div class="modal-body">
                <p>
                    The topics in this list tend to co-occur with the current topic more frequently than we would
                    expect by chance alone. The value shown next to each topic is the <strong>normalized pointwise
                    mutual information (nPMI)</strong> between that topic and the current topic. The higher the nPMI,
                    the more likely it is that the listed topic and the current topic are related in some way. Only
                    topics with an nPMI in the upper 98th percentile are shown.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="topicStreamModal" tabindex="-1" role="dialog" aria-labelledby="topicStreamModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Topic Representation Over Time</h4>
            </div>
            <div class="modal-body">
                <p>
                    This stream plot shows the relative representation of this topic in the JHB corpus over time.
                    To calculate the relative representation of the topic in a given year we sum up the proportion of
                    each document that is about the topic, and then normalize that value by the number of documents
                    published in that year.
                </p>
                <p>
                    Caution should be exercised when interpreting changes in the prominence of a single topic over time.
                    Since the representation across all topics should sum up to 100% in each year, an increase or decrease
                    in the prominence of any one topic may be due to changes in the literature that are completely
                    unrelated to the topic itself. This graph should be used only as a starting-point that can
                    prompt questions or hyptheses about potential trends that can be investigated further.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

var topic_id = {{ topic.id }};

var startYear = 1975,
    endYear = 1990,
    svg,
    brush,
    muteLeft,
    muteRight,
    brushg,
    brushPos = [47-(2013-startYear), 47-(2013-endYear)],
    layers,
    years,
    m,
    n=20,
    stack = d3.layout.stack().offset("wiggle");

    var color = ["#AA9A66", "#B74934", "#221100", "#577492", "#67655D", "#332C2F", "#A81A00", "#4C3F3D", "#996622", "#117788",
                 "#AA9A66", "#B74934", "#221100", "#577492", "#67655D", "#332C2F", "#A81A00", "#4C3F3D", "#996622", "#117788",
                 "#AA9A66", "#B74934", "#221100", "#577492", "#67655D", "#332C2F", "#A81A00", "#4C3F3D", "#996622", "#117788"];
var thisColor = color[Math.floor(Math.random() * color.length)];


var clearRelatedTopics = function() {

}

var clearContainingDocuments = function () {
    $('#assignments').empty();

}

var addRelatedTopics = function(topics) {

}

var addContainingDocument = function(assignmentsElem, doc) {
    var dateRow = $('<td>' + doc.pubdate + '</td>')
    var assignmentLinkRow = $('<td><a href="/documents/' + doc.id + '/?topic='+ topic_id + '">' + doc.title + '</a></td>');
    var progressRow = $('<td><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="'+ doc.weight +'" aria-valuemin="0" aria-valuemax="100" style="width: '+ doc.weight +'%;"><span class="sr-only">' + doc.weight.toPrecision(2)+'%</span></div></div></td>');
    var rowElem = $('<tr>');
    rowElem.append(dateRow)
        .append(assignmentLinkRow)
        .append(progressRow);

    assignmentsElem.append(rowElem);
}

var addContainingDocuments = function(documents) {
    documents.forEach(function(doc) {
        addContainingDocument($('#assignments'), doc);
    });
}

// Get documents and related topics.
var refreshTopicData = function(start, end) {
    $.ajax('?data=json&start=' + start + '&end=' + end, {
        success: function(elements) {
            clearContainingDocuments();
            addContainingDocuments(elements.documents);

            $('#assignmentQualifier').text(' (' + start + '\u2013' + end + ')');
        }
    });
}

var draw = function() {
    var width = parseInt(d3.select('#topic-stream').style('width'), 10),
        height = parseInt(d3.select('#topic-stream').style('height'), 10);

    var x = d3.scale.linear()
        .domain([0, m - 1])
        .range([0, width]);

    var y = d3.scale.linear()
        .domain([0, d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); })])
        .range([height, 0]);

    var area = d3.svg.area()
        .interpolate("basis")
        .x(function(d) { return x(d.x); })
        .y0(function(d) { return y(d.y0); })
        .y1(function(d) { return y(d.y0 + d.y); });

    var axis = d3.svg.axis()
        .scale(x)
        .orient("top")
        .tickFormat(function(d, i) {
            return String(years[d]);
        });

    svg = d3.select("#topic-stream").append("svg")
        .attr("width", width)
        .attr("height", height);

    svg.selectAll("path")
        .data(layers)
        .enter().append("path")
        .attr("d", area)
        .style("fill", thisColor);

    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + height + ")")
        .call(axis)
            .selectAll('text')  // Rotate and reposition x axis labels.
            .attr("transform", "rotate(-90)" )
                .attr("dx", height/2)
                .attr("dy", "1.7em");

    brush = d3.svg.brush()
        .x(x)
        .extent(brushPos)
        .on("brushstart", brushstart)
        .on("brush", brushmove)
        .on("brushend", brushend);

    muteLeft = svg.append("rect")
        .classed('mute', true)
        .attr('fill', '#fff')
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", 0)
        .attr("height", height);

    muteRight = svg.append("rect")
        .classed('mute', true)
        .attr('fill', '#fff')
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", 0)
        .attr("height", height);

    var arc = d3.svg.arc()
        .outerRadius(height / 8)
        .startAngle(0)
        .endAngle(function(d, i) { return i ? -Math.PI : Math.PI; });

    brushg = svg.append("g")
            .attr("class", "brush")
            .call(brush);

    brushg.selectAll(".resize").append("path")
        .attr("transform", "translate(0," +  height / 2 + ")")
        .attr("d", arc);

    brushg.selectAll("rect")
        .attr("height", height-1);

    brushstart();
    brushmove();
    refreshTopicData(startYear, endYear);

    function brushstart() {
      svg.classed("selecting", true);
    }

    function brushmove() {
      var s = brush.extent();
      brushPos = s;

      muteLeft.attr('width', x(s[0]));
      muteRight.attr('x', x(s[1]));
      muteRight.attr('width', width - x(s[1]));
    }

    function brushend() {
        var s = brush.extent();
        s = [Math.round(s[0]), Math.round(s[1])];
        d3.select(this).transition()
            .call(brush.extent(s));

        muteLeft.transition()
            .attr("width", x(s[0]));
        muteRight.transition()
            .attr('x', x(s[1]))
            .attr('width', width - x(s[1]));
        startYear = 1968 + s[0];
        endYear = 1968 + s[1];

        refreshTopicData(startYear, endYear);
        svg.classed("selecting", !d3.event.target.empty());
    }
}

function transition() {
    d3.selectAll("path")
        .data(function() {
            var d = layers1;
            layers1 = layers0;
            return layers0 = d;
        })
        .transition()
        .duration(2500)
        .attr("d", area);
}

var redraw = function () {
    var width = parseInt(d3.select('#topic-stream').style('width'), 10),
        height = parseInt(d3.select('#topic-stream').style('height'), 10);

    var x = d3.scale.linear()
        .domain([0, m - 1])
        .range([0, width]);

    var y = d3.scale.linear()
        .domain([0, d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); })])
        .range([height, 0]);

    var area = d3.svg.area()
        .interpolate("basis")
        .x(function(d) { return x(d.x); })
        .y0(function(d) { return y(d.y0); })
        .y1(function(d) { return y(d.y0 + d.y); });

    var axis = d3.svg.axis()
        .scale(x)
        .orient("top")
        .tickFormat(function(d, i) {
            return String(years[d]);
        });


    // Update overall dimensions.
    svg.attr("height", height)
        .attr("width", width);

    // Update stream paths.
    svg.selectAll("path")
        .data(layers)
        .attr("d", area);

    //
    //
    // Resize brush domain.
    function brushstart() {
      svg.classed("selecting", true);
    }

    function brushmove() {
      var s = brush.extent();
      brushPos = s;

      muteLeft.attr('width', x(s[0]));
      muteRight.attr('x', x(s[1]));
      muteRight.attr('width', width - x(s[1]));
    }

    function brushend() {
        var s = brush.extent();
        s = [Math.round(s[0]), Math.round(s[1])];
        d3.select(this).transition()
            .call(brush.extent(s));

        muteLeft.transition()
            .attr("width", x(s[0]));
        muteRight.transition()
            .attr('x', x(s[1]))
            .attr('width', width - x(s[1]));
        startYear = 1968 + s[0];
        endYear = 1968 + s[1];

        refreshTopicData(startYear, endYear);
        svg.classed("selecting", !d3.event.target.empty());
    }

    brush.x(x)
        .extent(brushPos)
        .on("brushstart", brushstart)
        .on("brush", brushmove)
        .on("brushend", brushend);

        var s = brush.extent();
        brushPos = s;

        muteLeft.attr('width', x(s[0]));
        muteRight.attr('x', x(s[1]));
        muteRight.attr('width', width - x(s[1]));

        brushg.call(brush);


    // Resize the X axis.
    d3.select('.axis')
        .attr("transform", "translate(0," + height + ")")
        .call(axis)
        .selectAll('text')  // Rotate and reposition x axis labels.
        .attr("transform", "rotate(-90)" )
            .attr("dx", height/2)
            .attr("dy", "1.7em");

}

function resize() {

    redraw();
}


d3.json("/topics/{{ topic.id }}/?data=time", function(data) {
    n = 20; // number of layers
    m = data.values.length; // number of samples per layer

    var a = [], i;
    for (i = 0; i < m; ++i) a[i] = 0;
    var series = a.map(function(d, i) { return {x: i, y: data.values[i]}; });
    // console.log(data.values);
    layers = stack([series]);
    years = data.dates;
    draw(layers);
    d3.select(window).on('resize', resize);
});
</script>
{% endblock %}
